body{
    background-color: #ebf0f5;
}
.wrapper{
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    background-color: #fff;
    /* border: 1px solid red; */
    overflow: hidden;
}
#count{
    width: 100px;
    float: left;
    margin-right: 5px;
}
 .search{
     float: right;
 }
 .table{
     margin: 10px 0;
     clear: both;
     display: table;
     width: 100%;
     border-collapse: collapse;
 }
 .table th, .table td {
     border: 1px solid rgb(231, 227, 227);
     padding: 10px;
     text-align: left;
 }
 .table tbody tr:nth-child(odd){
     background-color: #f9f9f9;
 }




.pagination {
    display: inline-block;
    float: right;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}